@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
}
nav{
    justify-content: right;
    text-align: right;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #5465FF;
    display: flex;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}
.logo-inicio {
    display: flex;
    margin-left: 40%;
    background:#5465FF;
}
.logo-map{
    background:#5465FF;
}
.logo-inicio > h1 {
    color: #FAFAFA;
    margin-top: 12px;
    margin-left: 5px;
    font: 200% roboto;
    background:#5465FF;
}

nav > a{
    width: 100px;
    height: 30px;
    color: #FAFAFA;
    font-weight: 200;
    text-decoration: none;
    margin-top: 16px;
    margin-right: 10px;
    border-radius: 20px;
    text-align: center;
    padding-top: 4px;
    border-width: 2px;
    background:#5465FF;
}
nav > a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.boton-ingresar-inicio {
    border-style: solid;
    border-color: #FAFAFA;
    margin-left: 23%;
}

.boton-registrar-inicio {
    border-style: solid;
    border-color: #FAFAFA;
    color: #5465FF;
    background: #FAFAFA;
}

.head{
    display: flex;
    flex-direction: row;

}
.img-principal {
    margin:100px;
    width: 45%;
    height: 434px;
    
}

.present{
    width: 30%;
    height: 60%;
    margin-top:175px;
    background: #5465FF;
    border-radius: 25px;
    padding-bottom: 20px;

}
.presenttext{
    color:#FAFAFA;
    background:#5465FF;
    border-radius: 45px;
    font-size: 21px;
}
main {
    
    align-items: center;
    background: #FAFAFA;
}
main h2 {
    text-align: center;
}
.titulo-eventos {
    justify-content: center;
    width: 100%;
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
}
.cards {
    padding-top: 40px;
    display:flex;
    justify-content: space-evenly;
    
}
.card {
    background-color: #5465FF;
    display:block;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.card img {
    width: 340px;
    height: 290px;
    object-fit: cover;
}
.card > h4 {
    background: #5465FF;
    color: #FAFAFA;
    font-weight: normal;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    font-family: Roboto;
    box-shadow: 0 3px 4px -2px rgba(0, 0, 0, .5);
    font-size: 20px;
    height: 60px;
    width: 340px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.footer-inicio{
    margin-top:40px;
    display: flex;
    background:#5465FF;
    height: 35px;
}
.footer-inicio h4 {
    font-weight: normal;
    background: #5465FF;
    color: #FAFAFA;
    font-family: Roboto;
    padding-top:6px;
    padding-left: 20px;
}
.footer-inicio img{
    padding-left: 10px;
    padding-top: 6px;
    background:#5465FF;
    width: 30px;
    height: 26px;
}

p{
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
}